* {
  font-family: "helvetica neue", sans-serif !important;
}


.mainText {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  .skill-bar {
    width: auto;
    height: 700px;
    margin-bottom: 2em;
  }
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 20s ease-in;
    .specificSkill {
      width: 80%;
      height: 60px;
      background: #f4f4f4;
      margin-bottom: 1.5em;
      border-radius:10px;
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      flex-wrap: wrap;
      .skillTitle {
        font-weight: bold;
        font-size: 1.5em;
      }
      .skillLevel {
        padding-top:.35em;
      }
    }
    .specificSkillBelow {
      width: 80%;
      height: 60px;
      background: #f4f4f4;
      margin-bottom: 1.5em;
      border-radius:10px;
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      flex-wrap: wrap;
      .skillTitle {
        font-weight: bold;
        font-size: 1.5em;
      }
      .skillLevel {
        padding-top:.35em;
      }
    }
  }

  h1 {
    padding-top: 7em;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    font-size: 4em;
    padding-bottom: 1em;
  }
  .allSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    .skill {
      display: flex;
      flex-direction: row;
      margin: 1em;

      .skillsRank {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        padding-right: 5px;

        #level1 {
          margin-top: 3px;
        }
        #level2 {
          margin-top: 3px;
        }
        #level3 {
          margin-top: 3px;
        }
        #level4 {

        }
        .skillLevel {
          width: 27px;
          height: 15px;
          background-color: #8080805c;
          border-radius: 2px;
          margin-right: 5px;
          margin-left: 7px;
        }
      }
      .personalImage {
        width: 70px;
        height: 70px;
        border-radius: 10%;
        box-shadow: 1px 1px 10px;
      }

      .Angular {
        box-shadow: 1px 1px 20px #dd03317d;
      }
      .Angular:active {
        box-shadow: 1px 1px 11px #dd03317d;
        transition: .2s ease-in-out;
      }
      .Angular:hover {
        box-shadow: 1px 1px 11px #dd03317d;
        transition: .2s ease-in-out;
      }

      .Typescript {
        box-shadow: 1px 1px 20px #017acc7d;
      }
      .Typescript:active {
        box-shadow: 1px 1px 11px #017acc7d;
        transition: .2s ease-in-out;
      }
      .Typescript:hover {
        box-shadow: 1px 1px 11px #017acc7d;
        transition: .2s ease-in-out;
      }

      .Javascript {
        box-shadow: 1px 1px 20px #FFC770;
      }
      .Javascript:active {
        box-shadow: 1px 1px 11px #FFC770;
        transition: .2s ease-in-out;
      }
      .Javascript:hover {
        box-shadow: 1px 1px 11px #FFC770;
        transition: .2s ease-in-out;
      }

      .HTML {
        box-shadow: 1px 1px 20px #e54d277d;
      }
      .HTML:active {
        box-shadow: 1px 1px 11px #e54d277d;
        transition: .2s ease-in-out;
      }
      .HTML:hover {
        box-shadow: 1px 1px 11px #e54d277d;
        transition: .2s ease-in-out;
      }

      .CSS {
        box-shadow: 1px 1px 20px #264da47d;
      }
      .CSS:active {
        box-shadow: 1px 1px 11px #264da47d;
        transition: .2s ease-in-out;
      }
      .CSS:hover {
        box-shadow: 1px 1px 11px #264da47d;
        transition: .2s ease-in-out;
      }

      .Agile {
        box-shadow: 1px 1px 20px #af23627d;
      }
      .Agile:active {
        box-shadow: 1px 1px 11px #af23627d;
        transition: .2s ease-in-out;
      }
      .Agile:hover {
        box-shadow: 1px 1px 11px #af23627d;
        transition: .2s ease-in-out;
      }

      .iOSMacOS {
        box-shadow: 1px 1px 20px #6ae4edd9;
      }
      .iOSMacOS:active {
        box-shadow: 1px 1px 11px #6ae4edd9;
        transition: .2s ease-in-out;
      }
      .iOSMacOS:hover {
        box-shadow: 1px 1px 11px #6ae4edd9;
        transition: .2s ease-in-out;
      }

      .Docker {
        box-shadow: 1px 1px 20px #099cec7d;
      }
      .Docker:active {
        box-shadow: 1px 1px 11px #099cec7d;
        transition: .2s ease-in-out;
      }
      .Docker:hover {
        box-shadow: 1px 1px 11px #099cec7d;
        transition: .2s ease-in-out;
      }

      .Cpp {
        box-shadow: 1px 1px 20px #d35eb87d;
      }
      .Cpp:active {
        box-shadow: 1px 1px 11px #d35eb87d;
        transition: .2s ease-in-out;
      }
      .Cpp:hover {
        box-shadow: 1px 1px 11px #d35eb87d;
        transition: .2s ease-in-out;
      }

      .Python {
        box-shadow: 1px 1px 20px #ffd03cd9;
      }
      .Python:active {
        box-shadow: 1px 1px 11px #ffd03cd9;
        transition: .2s ease-in-out;
      }
      .Python:hover {
        box-shadow: 1px 1px 11px #ffd03cd9;
        transition: .2s ease-in-out;
      }
    }
  }
}

.highlightSkill {
  background-color: rgba(78, 78, 78, 1) !important;
  box-shadow: 0 0 6px 0 #8080805c !important;
}
.edgeIcon {
  margin-right: 0;
}

@media only screen and (max-width:374px) {
  .mainText .allSkills .skill .personalImage {
    width: 64px;
    height: 64px;
  }
  .mainText .allSkills .skill .skillsRank .skillLevel {
    width: 21px;
    height: 14px;
  }
}

@media only screen and (min-width:460px) {
  .mainText .allSkills .skill .personalImage {
    width: 90px;
    height: 90px;
  }
  .mainText .allSkills .skill .skillsRank .skillLevel {
    width: 30px;
    height: 20px;
  }
}

@media only screen and (min-width:720px) {
 .mainText h1 {
   font-size: 4.5em;
 }
}

@media only screen and (min-width:958px) {
  .mainText h1 {
    padding-top: 8.5em;
  }
}

@media only screen and (max-width:586px) {
  .mainText .container .specificSkill {
    flex-direction: column;
    padding: 20px;
  }
}




