* {
  font-family: "helvetica neue", sans-serif;
}

.gpaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  circle-progress {
    margin-top: 1.5em;
  }
  .awardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #DeanList {
    background: #292a2b;
    color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin: 5%;
    flex: 1;
    text-align: center;
  }
  #Esteemed {
    background: #292a2b;
    color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin: 5%;
    flex: 1;
    text-align: center;
  }
}

.classList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5em;
  padding: 4%;
  margin-left: 5%;
  margin-right: 5%;


  .specificClass {
    flex: 1;
    background: #eaeaea;
    color: #292a2b;
    padding: 15px 10px 15px 10px;
    border-radius: 12.5px;
    justify-content: space-between;
    margin: 3%;
    text-align:right;
    display: flex;
    flex-direction: row;
    height: 4em;
    min-width: 40%;
    align-items: center;

    .grade {
      font-size: 3em;
      font-weight: bold;
      padding-right: 1em;
      padding-left: .75em;
      color: #006600;
    }

    .text {
      line-height: 100%;
      vertical-align: middle;
    }

    .inP {
      font-size: 3em;
      font-weight: bold;
      padding-right: 1em;
      padding-left: .75em;
      margin-top: -.2em;
      color: #339fff;
    }
  }
}

@media only screen and (min-width:625px) {
  .gpaContainer {
    flex-direction: row;
    margin-top: 1%;
    .awardContainer {
      flex-direction: column;
      margin-left: 5%;
      margin-top: 2%;
    }
  }
}

@media only screen and (max-width: 775px) {
  .classList {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
