<div class="mainText">
  <h1 id="mainHeader">Here's where I've been</h1>
  <div class="buttonArr">
    <div  (click)="filterSelect('highlight')" class="buttonClicker"><button mat-button [color]='highlightButtonType'>Highlights</button></div>
    <span (click)="filterSelect('work')"  class="buttonClicker"><button mat-button  [color]='workButtonType'>Work</button></span>
    <span (click)="filterSelect('award')"  class="buttonClicker"><button mat-button [color]='awardButtonType'>Awards</button></span>
    <span (click)="filterSelect('clubs')"  class="buttonClicker"><button mat-button [color]='clubsButtonType'>Clubs</button></span>
    <span (click)="filterSelect('projects')"  class="buttonClicker"><button mat-button [color]='projectsButtonType'>Projects</button></span>
    <span (click)="filterSelect('everything')"  class="buttonClicker"><button mat-button [color]='everythingButtonType'>Everything</button></span>
  </div>
  <div class="experienceUnit" *ngFor="let experience of experiences | experienceSearch: highlightButton:workButton:awardButton:clubsButton:projectsButton:everythingButton">
    <img src="./assets/{{experience.imageName}}" class="image" *ngIf="experience.imageAvailable">
    <div class="content">
      <h1 class="header">{{((experience.acronym) ? experience.fullTitle : experience.company)}}</h1>
      <h3 class="position">{{experience.position}}</h3>
      <h5 class="duration">{{experience.duration}}</h5>
      <div class="describeText">
        {{experience.description}}
      </div>
      <div *ngIf="experience.availableExtras">
        <mat-chip-list>
          <mat-chip class="chipStyle" *ngFor="let extra of experience.extra" [routerLink]="[extra.link]">{{extra.title}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
