.mainText {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    padding-top: 7em;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    font-size: 4em;
  }
  .allSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    .skill {
      display: flex;
      flex-direction: row;
      margin-top: 3%;
      margin-bottom: 6%;
      margin-right: 8%;

      .skillsRank {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        padding-right: 5px;

        #level1 {
          margin-top: 3px;
        }
        #level2 {
          margin-top: 3px;
        }
        #level3 {
          margin-top: 3px;
        }
        #level4 {

        }
        .skillLevel {
          width: 27px;
          height: 15px;
          background-color: #8080805c;
          border-radius: 2px;
          margin-right: 5px;
          margin-left: 7px;
        }
      }
      .personalImage {
        width: 70px;
        height: 70px;
        border-radius: 10%;
        box-shadow: 1px 1px 10px 0 #017acc7d;
      }
    }
  }
}

.highlightSkill {
  background-color: rgba(78, 78, 78, 1) !important;
  box-shadow: 0 0 6px 0 #8080805c !important;
}
.edgeIcon {
  margin-right: 0;
}

@media only screen and (max-width:374px) {
  .mainText .allSkills .skill .personalImage {
    width: 64px;
    height: 64px;
  }
  .mainText .allSkills .skill .skillsRank .skillLevel {
    width: 21px;
    height: 14px;
  }
}

@media only screen and (min-width:460px) {
  .mainText .allSkills .skill .personalImage {
    width: 90px;
    height: 90px;
  }
  .mainText .allSkills .skill .skillsRank .skillLevel {
    width: 30px;
    height: 20px;
  }
}

@media only screen and (min-width:720px) {
 .mainText h1 {
   font-size: 4.5em;
 }
}

@media only screen and (min-width:958px) {
  .mainText h1 {
    padding-top: 3.5em;
  }
}




