<div *ngIf="(displayMenu==='menuOpen')">
  <div [@obscureScreen]="'in'" class="obscureScreen"></div>
</div>

<div class="welcomeScreen" *ngIf="!smallScreen">
  <div class="container">
    <app-menu-item class="HomeIcon imageContainer" [name] = "'Home'"></app-menu-item>
    <app-menu-item class="AboutMeIcon imageContainer" [name] = "'AboutMe'"></app-menu-item>
    <app-menu-item class="ExperienceIcon imageContainer" [name] = "'Experience'"></app-menu-item>
    <app-menu-item class="SkillsIcon imageContainer" [name] = "'Skills'"></app-menu-item>
    <app-menu-item class="EducationIcon imageContainer" [name] = "'Education'"></app-menu-item>
    <app-menu-item class="ContactIcon imageContainer" [name] = "'Contact'"></app-menu-item>
  </div>
</div>

<div class="buttonContainer" *ngIf="smallScreen">
  <button mat-fab [color]="'success'"(click)="buttonClicked($event)" id="mainButton"><mat-icon>{{icon}}</mat-icon></button>
  <div *ngIf="displayMenu==='menuOpen'" [@fadeIn]="icons.length" class="navContainer">
    <button mat-mini-fab *ngFor="let icon of icons" [color]="'white'" id="navButton" (click)="navButtonClicked(icon)"><mat-icon>{{ icon }}</mat-icon></button>
  </div>
</div>
