<div>
<div class="profilePic">
  <img id="personalImage" src="../../assets/Headshot.JPG" alt="Chad Brokaw" [@fadeIn]="in">
  <h1 [@h1FadeIn]= "">Hello</h1>
  <div class="aboutMe">
    <h3 [@h3FadeIn]="in">I'm a front-end software engineer (and student)</h3>
    <br>
    <p [@fadeIn]="in">Officially, I'm a student getting a B.S. in Computer Science at the University of Colorado Boulder. I'm also the president of Senior Class Council, where my task is to make senior year one to remember. Beyond campus, I get to be a student software engineer for the Laboratory of Atmospheric and Space Physics (LASP). I, alongside an amazing group of people, represent the web team. We build websites and data management solutions that
      allow our scientists to understand the critical data being retrieved from our satelites in space.</p>
    <br>
    <p [@fadeIn]="in">But really? I get to help make technology beautiful, and intuitive, and kind. I am convinced that we can make technology usable for everyone, from my Grandpa, who just got his first smartphone, to my neices and nephew, who have never known a world without a ubuiquitous internet.</p>
    <br>
    <p [@fadeIn]="in">I love what I do. I loved it the moment I wrote my first "Hello World" in C++, and I become more enamored each day.</p>
    <br>
    <p [@fadeIn]="in">Thanks for stopping by my little domain<mat-icon class="redIcon">favorite</mat-icon></p>
  </div>
</div>
<div>
