<div class="profilePic">
  <div class="imgCarousel">
    <button mat-mini-fab class="direction_arrow standard" color="'standard'" [@fadeInLate]="'in'" (click)="arrowClick('back')"><mat-icon>arrow_back</mat-icon></button>
    <img id="personalImage" src="{{photoNames[photoNamesCounter]}}" alt="Chad Brokaw" [@fadeIn]="'in'">
    <button mat-mini-fab class="direction_arrow standard" color="'standard'" [@fadeInLate]="'in'" (click)="arrowClick('forward')"><mat-icon>arrow_forward</mat-icon></button>
  </div>
  <h1 [@h1FadeIn]= "">Hello</h1>
  <div class="aboutMe">
    <h3 [@h3FadeIn]="'in'">I'm a front-end software engineer (and student)</h3>
    <br>
    <p [@fadeIn]="'in'">Officially, I'm a Student Software Development Engineer at the Laboratory for Atmospheric and Space Physics, specializing in front-end software development. I, alongside an amazing group of people, represent the web team. We build websites and data management solutions that
      enable our scientists to understand the critical data being retrieved from our satellites in space.</p>
    <br>
    <p [@fadeIn]="'in'">But really? I get to help make technology beautiful, and intuitive, and kind. I am convinced that we can make technology usable for everyone, from my Grandpa, who just got his first smartphone, to my neices and nephew, who have never known a world without a ubuiquitous internet.</p>
    <br>
    <p [@fadeIn]="'in'">I love what I do. I loved it the moment I wrote my first "Hello World" in C++, and I become more enamored each day.</p>
    <br>
    <p [@fadeIn]="'in'">Thanks for stopping by my little domain<mat-icon class="redIcon">favorite</mat-icon></p>
  </div>
</div>
