<div class="mainText">
  <h1>Wanna chat?</h1>
  <div class="images" [@fadeIn]="screenState">
    <div class="item" id="facebook">
      <a href="https://www.facebook.com/chad.brokaw.35" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="item" id="linkedin">
      <a href="https://www.linkedin.com/in/chadhbrokaw" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="placeholder"></div>
    <div class="item" id="twitter">
      <a href="https://twitter.com/Chad_Brokaw" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="item" id="email">
      <a href="mailto:brokaw.business@gmail.com" target="_top"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>
